{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- mobile -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ diary.title }}</title>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>
<body>

<div class="header">
    <h2>📂 {{ diary.title }}</h2>
    <a href="{% url 'diary_home' %}">← Back</a>
</div>

<div class="container">

    <div class="diary-card">

        <div class="diary-date">
            {{ diary.created_at|date:"M d, Y • h:i A" }}
        </div>

        <p class="diary-content">
            {{ diary.content|linebreaks }}
        </p>

        {% if diary.files %}
            <div class="files">
                <h4>📁 Attachments</h4>
                {% for file in diary.files.all %}
                    <img src="{{ file.file.url }}" onclick="openImage(this.src)">
                {% endfor %}
            </div>
        {% endif %}

        <div class="actions">
            <a href="{% url 'diary_edit' diary.id %}">Edit</a>
            <a href="{% url 'diary_delete' diary.id %}" class="delete">Delete</a>
        </div>

    </div>

</div>

<!-- IMAGE OVERLAY -->
<div class="overlay" onclick="closeImage()">
    <span class="close">×</span>
    <img id="overlayImg">
</div>

<script>
function openImage(src) {
    document.getElementById("overlayImg").src = src;
    document.querySelector(".overlay").style.display = "flex";
}
function closeImage() {
    document.querySelector(".overlay").style.display = "none";
}
</script>

</body>
</html>
