{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- mobile  -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Diary</title>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>
<body>

<div class="header">
    <h2>📝 Create Diary</h2>
    <a href="{% url 'diary_home' %}">← Back</a>
</div>

<div class="page-wrapper">

    <div class="form-card">

           <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>📁 Diary Title *</label>
            <input type="text" name="title" placeholder="Enter diary title" required>

            <label>✍️ Content *</label>
            <textarea name="content" rows="6" placeholder="Write your thoughts..." required></textarea>

            <label>🖼 Upload Images / Files</label>
            <input type="file" name="files" multiple>

            <button type="submit" class="btn-save">💾 Save Diary</button>
        </form>

        <a href="{% url 'diary_home' %}" class="back-link">← Back to Diary</a>

    </div>

</div>

</body>
</html>
