{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Email Sent</title>
    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>
<body>

<div class="auth-wrapper">
    <div class="auth-card fade-in">
        <h2>Email Sent ✉️</h2>
        <p class="auth-sub">
            Check your inbox for the reset link.<br>
            It may take a few seconds.
        </p>

        <a class="btn-primary" href="{% url 'login' %}">
            Back to Login
        </a>
    </div>
</div>

</body>
</html>
