{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- mobile  -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>Create Account • My Diary</title>

    <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>
<body>

<div class="page-wrapper">

    <div class="form-card" style="max-width: 420px; width: 100%;">

        <h2 style="text-align:center; margin-bottom: 8px;">✨ Create Account</h2>
        <p style="text-align:center; color:#9ca3af; font-size:14px; margin-bottom:20px;">
            Your private space starts here
        </p>

        {% if messages %}
            {% for message in messages %}
                <p style="color:#22c55e; font-size:14px; text-align:center;">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" required>

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <label>Confirm Password</label>
            <input type="password" name="confirm_password" required>

            <button class="btn-save" type="submit">
                🚀 Create Account
            </button>
        </form>

        <a class="back-link" href="{% url 'login' %}">
            ← Back to Login
        </a>

    </div>

</div>

</body>
</html>
